*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/latte-core/build
/latte-compiler/build
/latte-ec/build
/latte-ui/build
/latte-annotaions/build
.externalNativeBuild
